  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .container{
    flex: 1;
  }
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */
.f-info-links a{
  text-decoration: none;
  color: black;

}

.f-info-links a:hover{
  text-decoration: underline;
  

}

.f-info-links{
    width: 100%;
}

.f-info-socials{
    font-size: 1.3rem;

    width: 100%;
}
.f-info-socials  i{
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 3rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
      background-color: #fe424d !important;
    border: none !important;
};

/* showpage */
.show-img{
    height: 30px;
}

.btns{
    display: flex;
}

#map{
    height: 400px;
    width: 700px;
}


/* <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>MapTiler Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

<div id="map" style="width: 100%; height: 400px;"></div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
  const key = "YOUR_API_KEY_HERE";

  const map = L.map('map').setView([19.0760, 72.8777], 10);

  L.tileLayer(`https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=${key}`, {
    attribution: '&copy; MapTiler & OpenStreetMap contributors'
  }).addTo(map);
</script>

</body>
</html> */